@font-face{
  font-family: 'digital-clock-font';
  src: url('./assets/fonts/DIGITALDREAM.ttf');
 }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 200px;
}